div.welc {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 8em;

}
h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 9s linear infinite;
}
h1 span:nth-child(1)
{
    animation-delay: 0s;
}
h1 span:nth-child(2)
{
    animation-delay: 1s;
}
h1 span:nth-child(3)
{
    animation-delay: 2s;
}
h1 span:nth-child(4)
{
    animation-delay: 3s;
}
h1 span:nth-child(5)
{
    animation-delay: 4s;
}
h1 span:nth-child(6)
{
    animation-delay: 5s;
}
h1 span:nth-child(7)
{
    animation-delay: 6s;
}
h1 span:nth-child(8)
{
    animation-delay: 7s;
}
h1 span:nth-child(9)
{
    animation-delay: 8s;
}
@keyframes animate{
    0%,100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #ff00b3,
                     0 0 20px #ff00b3,
                     0 0 40px #ff00b3,
                     0 0 80px #ff00b3,
                     0 0 120px #ff00b3,
                     0 0 200px #ff00b3,
                     0 0 300px #ff00b3,
                     0 0 400px #ff00b3,
                     0 0 500px #ff00b3;
    }
    5%,95%
    {
        color: #111;
        filter: blur(0px);
        text-shadow:  none;
    }
}




















































































